/* Change background & font */
body {
    background-color: #f4f4f4;
    font-family: Times New Roman;
    margin: 0;
    padding: 0;
}

/* Style header */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
h1{
  color: blue;
  text-align: center;
}
p{
  text-align: center;
}
/*Style section 2*/
.about {
  display: flex;
  align-items: center;
  gap: 20px;
 }
 .about img{
   width: 150px;
   border-radius: 50%;
 }
 /*style section 3*/
 .skills, .navs{
   display: flex;
   justify-content: space-between;
   margin: 20px;
 }
 .nav, .menu{
   background-color: #6d6b6b;
   color: white;
   padding: 15px 20px;
   font-weight: bold;
   border-radius: 8px;
   text-align: center;
   text-decoration: none;
 }
 .skill{
   background-color: #333;
   color: white;
   padding: 15px 20px;
   font-weight: bold;
   border-radius: 8px;
   text-align: center;
 }
 /*style section 4*/
 .projects{
  left: 5%;
 }
 .portfolio{
   display: grid;
   grid-template-columns: repeat( auto-fit, minmax( 250px, 1fr));
   gap: 20px;
   padding: 20px;
 }
 .project, .contact, .skills, .about p{
   background: white;
   padding: 30px;
   text-align: center;
   border-radius: 10px;
   box-shadow: 0 4px 6px rgba(0,0,0,0.1);
   font-weight: bold;
   transition: transform 0.2s;
   
 }
 .project:hover, .about p:hover, .contact:hover, h1:hover{
   transform: scale(1.05);
   background: #f0f8ff;
 }
 .project a{
   display:inline-block; 
   margin-top:10px;
   padding:8px 12px;
   background:#333; 
   color:white; 
   text-decoration:none;
   border-radius:5px;
 }
 .project img{
   width:100%;
   border-radius: 8px;
 }
 @media( max-width: 600px){
   .about{
     flex-direction: column;
     text-align: center;
   }
   .skills{
     flex-direction: column;
     gap: 10px;
     align-items: center;
   }
 }
 

/* Style main text */
main {
    padding: 20px;
    color: #333;
}
input, textarea{
  border-radius: 5px;
  height: 30px;
  width: 300px;
  border: none;
  background-color: #cecdcd;
}

/* Style footer */
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.social-icons {
    text-align: center;
    margin-bottom: 10px;
}

.social-icons a {
    font-size: 28px;
    margin: 0 12px;
    color: #ebe9e9;
    transition: 0.3s ease;
}

.social-icons a:hover {
    color: #007bff;
    transform: scale(1.2);
}